.progress {
  position: absolute;
  bottom: 0px;
  height: 5px;
  background: rgba(255, 255, 255, 0.1);
  left: 0;
  right: 0;
  margin: 0px auto;
  z-index: 2;
}

.progressInner {
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  width: 0%;
}
