.wrapper {
  height: 100%;
  overflow-y: scroll;

  scroll-snap-type: y mandatory;
  background-color: black;
}

.imageWrapper {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  max-width: fit-content;
  height: auto;
  min-height: 0;
  min-width: 0;
  flex: 1 0 auto;
}
